/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * не используется в about
 */
.cover-container {
  max-width: 50em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .activetab {
  color: #fff;
  border-bottom-color: #fff;
}

.table-payback {
  color: #fff;
  --bs-table-striped-color: #fff;
}

.block-h-5 {
  height: 5vh;
}

.block-h-95 {
  height: 95vh;
}

.block-h-100 {
  height: 100vh;
}

.arrow_block {
  text-align: center;
  right: 0;
  left: 0;
  padding-bottom: 40px;
}

.arrow_sub_block {
  display: inline-block;
  cursor: pointer;
}

.arrow_sub_block i,
.arrow_sub_block svg {
  color: #FFF;
}

.animation {
  animation: t-arrow-bottom 1.7s infinite ease;
  animation-duration: 1.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: t-arrow-bottom;
}

.t-cover__arrow-wrapper_animated {
  animation: t-arrow-bottom 1.7s infinite ease;
}

@keyframes t-arrow-bottom {
  0% {-moz-transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0)}
  50% {-moz-transform: translateY(-7px);-ms-transform: translateY(-7px);-webkit-transform: translateY(-7px);-o-transform: translateY(-7px);transform: translateY(-7px)}
  55% {-moz-transform: translateY(-7px);-ms-transform: translateY(-7px);-webkit-transform: translateY(-7px);-o-transform: translateY(-7px);transform: translateY(-7px)}
  100% {-moz-transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0)}
}
